<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arcticrun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E8B94311C6E92A90025CBBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8B94451C6E92A90025CBBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8B94501C6E92A90025CBBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
